#listen=YES
anonymous_enable={{ anonymous_enable }}
local_enable={{ local_enable }}
write_enable={{ write_enable }}
anon_upload_enable={{ anon_upload_enable }}
anon_root={{ anon_root }}
anon_mkdir_write_enable=YES
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
anon_other_write_enable=YES
xferlog_enable=YES
xferlog_file=/val/log/vsftpd.log
#allow_writeable_chroot=YES

